@using MuscleMate_Gym.Data.Enum;
@using MuscleMate_Gym.ViewModels;
@model CreateExerciseViewModel


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
                <h4>Enter article</h4>
                <div class="form-group">
                    <label asp-for="Title">Enter Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Enter Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image">Paste Image URL</label>
                    <input asp-for="Image" class="form-control" placeholder="Paste Image URL">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExerciseCategory">Choise Exercise Category</label>
                    <select asp-for="ExerciseCategory" asp-items="@Html.GetEnumSelectList<ExerciseCategory>()" class="form-control">
                        <option selected="selected" value="">--Select--</option>
                    </select>
                    <span asp-validation-for="ExerciseCategory" class="text-danger"></span>
                </div>
                <h4 class="ml-2 mt-2">Enter Details of Exersise</h4>
                <div class="form-group">
                    <label asp-for="Details.Title">Title of Exercise</label>
                    <input asp-for="Details.Title" class="form-control" placeholder="Enter Title">
                    <span asp-validation-for="Details.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details.Description">Descroption of Exercise</label>
                    <input asp-for="Details.Description" class="form-control" placeholder="Enter Description">
                    <span asp-validation-for="Details.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details.URL">Paste URl of Exercise</label>
                    <input asp-for="Details.URL" class="form-control" placeholder="Paste URL">
                    <span asp-validation-for="Details.URL" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary ml-2 mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>