@using MuscleMate_Gym.ViewModels
@model LoginViewModel


@{
    ViewData["Title"] = "Login";
}
<div class="row">
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white">Log in</div>
                <div class="card-body">
                    <form asp-action="Login">
                        <div class="form-group mb-2">
                            <label asp-for="EmailAddress" class="control-label">Email</label>
                            <input asp-for="EmailAddress" class="form-control" placeholder="Enter your email">
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Password" class="control-label">Password</label>
                            <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <input class="btn btn-outline-success float right" type="submit" value="Log in" />
                            <a class="btn btn-outline-secondary" asp-controller="Exercise" asp-action="Index">Cancel</a>
                        </div>
                    </form>
            </div>
                <div class="card-footer text-muted text-center">
                    Don't have an account?
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Sign in</a>
                </div>
        </div>
    </div>
</div>