@using MuscleMate_Gym.ViewModels
@model List<UserViewModel>


<div class="container">
    <h2>All Users</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-text">@item.UserName</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>
