@using MuscleMate_Gym.ViewModels
@model EditUserDashboardViewModel


<form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id" />
    <div class="form-group">
        <label asp-for="UserName">Edit User Name</label>
        <input asp-for="UserName" class="form-control" placeholder=" Edit UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Add Description</label>
        <input asp-for="Description" class="form-control" placeholder="Edit Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary ml-2 mt-2">Submit</button>
</form>